@import "tailwindcss";
body {
  background-color: #141414;
  color: #e5e5e5;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Scrollbar Netflix Style */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000; 
}
::-webkit-scrollbar-thumb {
  background: #333333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E50914; 
}
